In [ ]:
#4 foundations oop 
# Abstraction
# encapsulation
# Inheritance
# polymorphispm

In [ ]:
# template

class Myclass:
    pass

In [4]:
level_bonus = {
    1: 0.1,
    2:0.15,
    3: 0.2
}


employee1 = {
    'name':'ade',
    'age': '10',
    'level': 1,
    'salary': 1000

}

# pension
# tax
# bonus

def bonus(employee,level_bon):
    salary = employee.get('salary')
    level = employee.get('level')
    bon = level_bonus.get(level)
    return salary* bon
    
    


def tax(name,amount):
    pass


def pension(name,amount):
    pass

In [6]:
employee1['bonus']= bonus(employee1, level_bonus)

In [7]:
employee1

{'name': 'ade', 'age': '10', 'level': 1, 'salary': 1000, 'bonus': 100.0}

In [77]:
class Employee:
    # contructor
    organinsation = None

    def __init__(self,name,age,level,salary):
        self.name = name  #attribute of the instance of the class
        self.age = age
        self.level = level
        self.salary = salary
        
    
    def __repr__(self):
        return f'this is my {self.name}'

    def bonus(self,bonus_rank):
        bon = bonus_rank.get(self.level)
        return self.salary * bon
    
    @property
    def tax(self):
        tax = 0.2
        return self.salary * tax
    @property
    def email(self):
        return f'{self.name}@{self.organinsation}.com'

# dunder or magic  double underscore

In [74]:
new_employee1 = Employee('ade',10,2,1000) # instantiation
new_employee2 = Employee('andy',10,1,2000) # instantiation
new_employee3 = Employee('toby',10,8,10000) # instantiation
new_employee4 = Employee('moses',10,3,9000) # instantiation
new_employee5 = Employee('sam',10,3,800) # instantiation
new_employee6 = Employee('John',10,12,1900) # instantiation

In [75]:
level_bonus = {
    1: 0.1,
    2:0.15,
    3: 0.2,
    12: 0.5,
    8: 0.4
}
new_employee6.bonus(level_bonus)

950.0

In [76]:
new_employee1.email

'ade@Saidatech.com'

In [52]:
Employee('ade',10,2,1000).age


sam = Employee('ade',10,2,1000)
sam.age == Employee('ade',10,2,1000).age

True

In [51]:
num = 1

1 is 1

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-51-3198e655189c>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [98]:
# dry. departmentc coy --> employeee
class Marketing(Employee):
    pass
    
class HR(Employee):
    pass
    
class Production(Employee):
    
    def target_bonus(self):
        return self.salary * 0.1
    
class It(Employee):
    
    def email(self): # overiding the method parent class
        return f'{self.name}@it.com'

In [100]:
markerter1 = Marketing('john doe', 10,3,20000)
markerter1.target_bonus()

AttributeError: 'Marketing' object has no attribute 'target_bonus'

In [83]:
# markerter1.bonus(level_bonus)
markerter1.tax

4000.0

In [89]:
It1 = It('john doe', 10,3,20000)

In [93]:
It1.email()

'john doe@it.com'

In [99]:
product = Production('john doe', 10,3,20000)
product.target_bonus()

2000.0

In [131]:
class Employee:
    # contructor
    info = {}

    def __init__(self,*kwargs):
        for i in kwargs:
            self.info.update(i)
    
    def __repr__(self):
        return f'this is my {self.info["name"]}'

    def bonus(self,bonus_rank):
        bon = self.info.get('level')
        return self.info.get('salary') * bon
    
    @property
    def tax(self):
        tax = 0.2
        return self.info.get('salary') * tax
    @property
    def email(self):
        return f'{self.name}@{self.organinsation}.com'

In [132]:
a = Employee({'name':'ade'}, {'age':'10'},{'level':1},{'salary' :1000})

In [133]:
a.info

{'name': 'ade', 'age': '10', 'level': 1, 'salary': 1000}

In [134]:
a.bonus(level_bonus)

1000

In [ ]:
name,shares,price
"AA",100,32.20
"IBM",50,91.10
"CAT",150,83.44
"MSFT",200,51.23
"GE",95,40.37
"MSFT",50,65.10
"IBM",100,70.44

In [ ]:
# read
# heading Title Name Shares, Price
# lowercase name porfolio
# what is my total share value porfolio of 'Ibm ---> 50+100
# what is my total price of my portfolio 'Ibm ---> 91.10 +70.44

In [ ]:
class Name:
    def __init__(self, file):
        self.file = file

    def read(self):
        #  read
        # heading Title Name Shares, Price
        # lowercase name porfolio. standard
        pass
    def share_value(self,stock_name):
        new_stock = stock_name.lower()
        pass
    
    def share_price(self, stock_name):
        pass

In [135]:
with open('practice.xlsx', 'wt') as file:  #
    file.write('1,2,3,4,5')

In [ ]:
my_stock= Name('location')

name = imput()
my_stock.share_value(name)
my_stock.share_price('ibm')