In [ ]:
# variables
# data types
# Type hints -----not necussary python 4.0

In [1]:
# int varaiable_name = str
variable = 10
variable = 'string'
print(type(variable))

In [218]:
from typing import Optional, Any, List,Tuple,Dict

variable_int: int = 10
variable_float: float = 10.0
variable_string: str = 'string'
variable_list: List[int] = [1,2,3,4,5] 
variable_tuple: Tuple[int] = (1,2,3,4,5) 
variable_dict: Dict[str, str] = (1,2,3,4,5) 
variable_None: Optional[Any]

In [10]:
# Methods.  Str, List, Dict and  tuple set
variable_None

In [24]:
# '' ""
print('i am a boy', end='\t')
print('welcome to python')

print('i am a boy', end=' ')
print('welcome to python')
print('welcome to js', end=' ')

print('i am a boy', end='\n')
print('welcome to python')

i am a boy	welcome to python
i am a boy welcome to python
welcome to js i am a boy
welcome to python

In [26]:
class Employee:
    # contructor 
    def __init__(self,first_name,last_name,age,gender,position ):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
        self.gender=gender
        self.position=position
    
    def email(self):
        return f'{self.first_name}.{self.last_name}@company.com'



 def email(last, first_name):
        return f'{first_name}.{last}@company.com'

In [27]:
employee = Employee('ade', 'ade', 10,'m', 'Md')

In [29]:
employee.email()

'ade.ade@company.com'

In [31]:
my_variable = 20
# my_variable.email()

In [32]:
print(dir(Employee))
print('*'* 10)
print(dir(my_variable))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'email']
**********
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [35]:
def email(last, first_name):
        return f'{first_name}.{last}@company.com'

In [38]:
print(email('ade','samsn'))
print(employee.email())

samsn.ade@company.com
ade.ade@company.com

In [ ]:
print()
dir()
help()

In [39]:
# strings
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [55]:
string = 'this is my first example of a string 2323'

In [49]:
capitalised =string.capitalize()
capitalised

'This is my first example of a string'

In [51]:
all_upper =string.upper()
all_upper

'THIS IS MY FIRST EXAMPLE OF A STRING'

In [53]:
all_lower= all_upper.lower()
all_lower

'this is my first example of a string'

In [62]:
new_string = '12334'
new_string.isdecimal()

True

In [65]:
# count
# help(str.count)
new_string.count('2')

1

In [84]:
# join and split'
un_split = 'the quick brown fox jumps over the lazy dog'
splitted = un_split.split()

In [86]:
new_list = []
for indx, i in enumerate(splitted):
    if i == 'brown':
        new_list.append('green')
    else:
        new_list.append(i)

In [89]:
un_split.replace('brown', 'green')

'the quick green fox jumps over the lazy dog'

In [88]:
new_list

['the', 'quick', 'green', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [94]:
slash= '/'.join(new_list)

In [95]:
slash.split('/')

['the', 'quick', 'green', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [96]:
# list
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [118]:
my_list = [41,22,13,4,5]

In [115]:
# my_list.pop()
# my_list.remove(5)

In [119]:
my_list.sort()
my_list.reverse()

In [129]:
sorting= slash.split('/')
sorting

['the', 'quick', 'green', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [127]:
sorting.sort()

In [128]:
sorting

['dog', 'fox', 'green', 'jumps', 'lazy', 'over', 'quick', 'the', 'the']

In [130]:
# dict
my_dict = {'name':' Ade', 'ocuppation': 'student', 'loc': 'somewhere'}

In [132]:
print(dir(my_dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [133]:
my_dict.keys()

dict_keys(['name', 'ocuppation', 'loc'])

In [134]:
my_dict.values()

dict_values([' Ade', 'student', 'somewhere'])

In [137]:
items  =my_dict.items()

In [139]:
my_dict.update({'item': 'new_iten'})

In [141]:
my_dict.clear()

In [142]:
my_dict

{}

In [143]:
# tuple
my_tup = 12,2,3,4

In [144]:
print(dir(my_tup))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [151]:
another = my_tup.__len__()

In [152]:
another

4

In [166]:
# Unpacking and *

my_item = [1,2,3,4,5,6,2,3,4]
*a,b,c,d,e,f = my_item

In [167]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[1, 2, 3, 4]
5
6
2
3
4

In [172]:
list1 = [1,2,3,4]
list2 = [5,6,7,8,9]
list3 = [*list1, *list2]

In [173]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
firts_name = ['sam']
last_name = ['smnith']
fullname = [*firts_name, *last_name]

In [175]:
my

['s', 'a', 'm', 's', 'm', 'n', 'i', 't', 'h']

In [178]:
my_dict = {'name':' Ade', 'ocuppation': 'student', 'loc': 'somewhere'}

In [179]:
new = [*my_dict]

In [182]:
for i in new:
    print(my_dict.get(i))

 Ade
student
somewhere

In [187]:
tutor = 'ade'
print(tutor)
name= 'somethin'

ade

In [189]:
print('somethin')

somethin

In [192]:
# return value is boolean. True or False
> # greater 
< # less 
<= # less or equal to
!= # not equal 
== #equal to
>= # greater or equal

In [ ]:
if a value is true:
    'i want you to do this logix here'
else:
    'i want you to do this instead'

In [202]:
tutor = 'Sam'

if (tutor == 'ade'):
    print(f'Yes {tutor} is out tutor')
else:
    print(f'Our tutor is {tutor}')

Our tutor is Sam

In [204]:
a= 12
b = 12

if a > b:
    print('A is the maximum')
elif a == b:
    print(' A and B are of equal value')
else:
    print('B is higher than A')

 A and B are of equal value

In [ ]:
# anyone below the age of 15 cannot enter the club
# anyone above 18 can enter club but cant take alchool
# 20yrs you can take alchool  on two conditions:
    # * There undlying liver issues
    # * You are pregnant
# gate fee $20
# vip = $70

In [205]:
customer1 = {'name': 'mellisa', 'age': 15.2, 'gender': 'f', 'condition': False, 'prg': 'N/A', 'cash': 300}
customer2 = {'name': 'smith', 'age': 44, 'gender': 'm', 'condition': True, 'prg': False}
customer3 = {'name': 'john', 'age':18, 'gender': 'm', 'condition': True, 'prg': False}
customer4 = {'name': 'luke', 'age': 22, 'gender': 'm', 'condition': False, 'prg': False}
customer5 = {'name': 'sandra', 'age': 18, 'gender': 'f', 'condition': False, 'prg': True}

In [210]:
all_cust= [*customer1]
all_cust
my_cus = [customer1,customer2,customer3,customer4,customer5]

for i in my_cus:
    for x in all_cust:
        print(x)

name
age
gender
condition
prg
name
age
gender
condition
prg
name
age
gender
condition
prg
name
age
gender
condition
prg
name
age
gender
condition
prg

In [214]:
#  for i in range(1,6):
#      print(f'customer{i}')
# customer1.get('age')

15.2

In [ ]:
if ......

elif Age >= 20:
    if person has liver or pregnant:
        print('please drink water')
    else :
        print('yor are the boss')

else:
    ....

In [207]:
print(True or True)
print(True or False)
print(False or False)
print(False and False)
print(False and True)
print(True and True)

True
True
False
False
False
True